html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  html {
    cursor: url('Images/lily-cursor.png'), pointer;
}

body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    padding: 0 100px 
  }

.header {
    font-family: 'Eczar', serif;
    font-size: 150px;
    line-height: 150px;
  }

  .container {
    display: flex; /* or inline-flex */
    justify-content: center;
    column-gap: 40px;
  }

  img {
      max-height: 100px;
      opacity: 0.8;
      position: center;
      padding: 10px;
      margin-left: 20px;
  }

  .button {
      margin-top: 500px;
      border-radius: 50px;
      border-color: #222222;
      background-color: transparent;
      text-align: center;
      font-size: 30px;
      font-family: monospace;
      width: 500px;
      padding: 20px;
      margin: 30px;
      display: block;
  }

  .button:hover {
      background-color: #e6e994;
      font-style: italic;
      transition: .5s;
      cursor: url('Images/lily-cursor.png'), pointer;
  }

  .animated {
  animation: color-change 1s infinite;
}

@keyframes color-change {
  0% { color: #faae2b; }
  50% { color: #ffffff; }
  100% { color: #fa5246; }
}

/*gallery*/
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }